canvas {
    border: 1px solid black;
    

}
body {
    
   
    
    
    font-family: monospace;
    font-size: 120%;
    

    background-color: rgb(66, 53, 34);
}

div {
    background-color: rgb(252, 224, 190);
}